<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " th:href="@{/}"> <i
							class="oi oi-home"></i> <span th:text="#{sidebar.link.home}"></span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.ministerio}">Ministerio</span></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/ministerio/cadastrar}"> <i class="oi oi-plus"></i>
						<span th:text="#{sidebar.link.cadastrar}">Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/ministerio/listar}"> <i class="oi oi-spreadsheet"></i>
							<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.rede}">Rede</span></li>
					<li class="nav-item"><a class="nav-link"
											th:href="@{/rede/cadastrar}"> <i class="oi oi-plus"></i>
						<span th:text="#{sidebar.link.cadastrar}">Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
											th:href="@{/rede/listar}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.cargo}">Cargos</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/cargos/cadastrar}"> <i class="oi oi-plus"></i> 
						<span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/cargos/listar}"> <i
							class="oi oi-spreadsheet"></i> 
							<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.membros}">Membros</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/membros/cadastrar}"> <i class="oi oi-plus"></i>
						<span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/membros/listar}"> <i class="oi oi-spreadsheet"></i>
						<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>
				
				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" th:text="#{sidebar.titulo.fornecedor}">Fornecedores</span></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/fornecedores/cadastrar}"> <i class="oi oi-plus"></i> 
						<span th:text="#{sidebar.link.cadastrar}">Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						th:href="@{/fornecedores/listar}"> <i class="oi oi-spreadsheet"></i> 
						<span th:text="#{sidebar.link.listar}">Listar </span>
					</a></li>
				</ul>
			</nav>
</body>
</html>