<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<section class="layout-content" layout:fragment="corpo">
    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Home</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="list-home" class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active"
                       id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
                       role="tab" aria-controls="spring-boot">Sobre Nós</a> <a
                        class="list-group-item list-group-item-action" id="list-sts-list"
                        data-toggle="list" href="#sts" role="tab" aria-controls="sts">Ministérios                        </a> <a class="list-group-item list-group-item-action"
                        id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
                        role="tab" aria-controls="thymeleaf">Cargos</a> <a
                        class="list-group-item list-group-item-action"
                        id="list-rede-list" data-toggle="list" href="#webjars"
                        role="tab" aria-controls="webjars">Rede</a><a
                        class="list-group-item list-group-item-action"
                        id="list-webjars-list" data-toggle="list" href="#webjars"
                        role="tab" aria-controls="webjars">Funcionários</a> <a
                        class="list-group-item list-group-item-action"
                        id="list-hibernate-list" data-toggle="list" href="#hibernate"
                        role="tab" aria-controls="hibernate">Relatórios</a> <a
                        class="list-group-item list-group-item-action"
                        id="list-bootstrap-list" data-toggle="list" href="#bootstrap"
                        role="tab" aria-controls="bootstrap">Sistema</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="spring-boot"
                         role="tabpanel" aria-labelledby="list-spring-boot-list">
                        Handyman é uma start-up? Não sei se essa seria a melhor definição, 
somos apenas uma empresa em constante evolução movimentando essa frente de criação de apps.
A nossa base é o respeito, não somos uma família, somos mais que isso, "friends"! 
Obrigada por ser um handymer! (Ou seria handymaníano? haha)
                    </div>
                    <div class="tab-pane fade" id="sts" role="tabpanel"
                         aria-labelledby="list-sts-list">
                         Os nossos departamentos estão divididos, mas somos um só quando se trata do crescimento e evolução da Handyman. 
                    </div>
                    <div class="tab-pane fade" id="thymeleaf" role="tabpanel"
                         aria-labelledby="list-thymeleaf-list">
                        Eu preciso falar do plano de carreira? Aqui você sempre terá oportunidade de avançar na sua carreira.
                    </div>
                    <div class="tab-pane fade" id="webjars" role="tabpanel"
                         aria-labelledby="list-webjars-list">
                        A Handyman está focada no desenvolvimento profissional e capacitação do seu corpo de funcionários.
Fique atento aos dias-horários das reuniões gerais!
                    </div>
                    <div class="tab-pane fade" id="hibernate" role="tabpanel"
                         aria-labelledby="list-hibernate-list">
                        <a href="http://hibernate.org/orm/">Hibernate ORM</a>
                        habilita
                        desenvolvedores para escrever mais facilmente aplicativos cujos dados sobrevivem
                        o processo de candidatura. Como um mapeamento objeto / relacional (ORM)
                        framework, o Hibernate está preocupado com a persistência de dados
                        aplica-se a bancos de dados relacionais (via JDBC). <br/> Além de
                        sua própria API "nativa", o Hibernate também é uma implementação do
                        Especificação da Java Persistence API (JPA). Como tal, pode ser
                        facilmente usado em qualquer ambiente que suporte JPA, incluindo Java SE
                        aplicativos, servidores de aplicativos Java EE, Enterprise OSGi
                        recipientes, etc.
                    </div>
                    <div class="tab-pane fade" id="bootstrap" role="tabpanel"
                         aria-labelledby="list-bootstrap-list">
                        <a href="https://getbootstrap.com/">Documentação</a></br> Versão 1.0.0
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>