<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<section class="layout-content" layout:fragment="corpo">
    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>Home</span>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div id="list-home" class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active"
                       id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
                       role="tab" aria-controls="spring-boot">Sobre Nós</a> <a
                        class="list-group-item list-group-item-action" id="list-sts-list"
                        data-toggle="list" href="#sts" role="tab" aria-controls="sts">Missão</a> <a class="list-group-item list-group-item-action"
                        id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
                        role="tab" aria-controls="thymeleaf">Visão</a> <a
                        class="list-group-item list-group-item-action"
                        id="list-rede-list" data-toggle="list" href="#webjars"
                        role="tab" aria-controls="webjars">Valores</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="spring-boot"
                         role="tabpanel" aria-labelledby="list-spring-boot-list">
                        A Igreja Cristã Contemporânea não é mais uma igreja, mas a representação do amor incondicional de Deus por um por um povo que sofria a dor da exclusão. ‪Desta forma, na contramão de um cenário opressor e um sistema religioso muitas vezes intolerante e alheio às necessidades das minorias (sempre acolhidas pelo Senhor Jesus) o Espírito Santo ergueu a Igreja Cristã Contemporânea como uma resposta a tantos séculos de preconceito.
                    </div>
                    <div class="tab-pane fade" id="sts" role="tabpanel"
                         aria-labelledby="list-sts-list">
                        Apresentar a Deus a melhor versão de si para refletir a Luz do Senhor Jesus; amando e acolhendo, sem preconceitos; impactando, curando, transformando e salvando vidas, porque o céu é o nosso maior propósito de vida.
                    </div>
                    <div class="tab-pane fade" id="thymeleaf" role="tabpanel"
                         aria-labelledby="list-thymeleaf-list">
                        Ser uma poderosa nação de cristãos contemporâneos genuínos, dispostos a se entregarem por completo a este chamado de levar o amor de Deus a todos, sem preconceitos
                    </div>
                    <div class="tab-pane fade" id="webjars" role="tabpanel"
                         aria-labelledby="list-webjars-list">
                        Sorria, Jesus te aceita: este não é apenas o "slogan", sorrir é nosso modo de viver e acolher uma busca incessante. Aqui reconheça coisas boas e positivas nas pessoas. Elogie mais, abrace mais, sorria sempre!
                        Amor e fidelidade ao Espírito Santo, à Igreja Cristã Contemporânea e ao próximo;
                        Consagração com leitura bíblica, oração, clamor, jejum, propósitos, busca ao Espírito Santo e seus dons.
                    </div>
                    <div class="tab-pane fade" id="bootstrap" role="tabpanel"
                         aria-labelledby="list-bootstrap-list">
                        <a href="https://getbootstrap.com/">Documentação</a></br> Versão 1.0.0
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>